/* Applying Adobe Fonts */

@import url("https://use.typekit.net/rbw2kdb.css");

h1 {
  font-family: "chantal";
     font-weight: 500;
     font-style: normal;
}

.chantal {
 font-family: "chantal";
     font-weight: 500;
     font-style: normal;
}

p {
  font-family: "omnes-cyrillic, sans-serif";
  font-weight:500;
    font-style: normal;
}

.omnes {
  font-family: omnes-cyrillic, sans-serif;
font-weight: 500;
font-style: normal;
}

/*Sections for screen dividers*/

.blue-sect {
  background-color: #152852;
  color: white;
  margin: 20px 0px 20px 0;
  padding:20px;"
}

.red-sect {
  background-color: #ff756c;
  color: white;
  margin: 20px 0px 20px 0;
  padding:20px;"
}
 
.orange-sect {
  background-color: #fc9c54;
  color: white;
  margin: 20px 0px 20px 0;
  padding:20px;"
}

.yellow-sect {
  background-color: #ebcc4e;
  color: white;
  margin: 20px 0px 20px 0;
  padding:20px;"
}

.red-button {
  background-color: #ff756c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-family: "chantal";
}

.orange-button {
  background-color: #fc9c54;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: x-large;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-family: "chantal";
}

.yellow-button {
  background-color: #ebcc4e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-family: "chantal";
}

.blue-button {
  background-color: #152852;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-family: "chantal";
}

nav {
  display: flex;
  align-items: center;
  background-color: #152852;
}


.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.nav-li {
  display: inline;
  float: left;
  text-align: center;
  align-items: center;
}

.nav-a {
  display: block;
  margin: 10px;
  background-color: #152852;
  color: white;
  text-align: center;
  font-size: medium;
}

.nav-font {
  font-family: "chantal";
  text-align: center;
  color: white;
  text-decoration: none;
}

/* Side by side containers*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  flex-basis:40%;
  padding: 0 0 0 20px;
  margin: 0px;
}

.text {
  font-size: 20px;
  padding-left: 10px;
}

/* End Containers*/

.bqstyle {
  font-size: xx-large;
  color: #152852;
  text-align: center;
  padding: 100px 50px 100px 50px;
}

.story-text {
  font-size: large;
  color:white;
}

/* Slideshow CSS */
.slideshow {
  /* what width and height for fullscreen? */
  width: 100vw;
  height: 100vh;
  background: #152852;
  position: relative;
}

/*
  padding
  margin
  transform
  display modes (flex, grid)
  position
*/

.slideshow > div {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.slideshow > div.active {
  opacity: 1;
}

.slideshow > div > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slideshow > button {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 50px;
  margin: auto 0;
}

.slideshow > button#next {
  right: 0;
}

/* Signature Animation */

#signature {
  stroke-dasharray: 2000;   /* Moves along path of animation*/
  stroke-dashoffset: 2000;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0; /* Creates animation keyframes*/
  }
}

/* Trying to use grids... bear with me */

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
}

/* Desktop */
@media (min-width: 768px;){
  
  .intro-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
  }

  .home-div {
    display: flex;
  }

  .intro-pad {
    padding: 90px 0 90px 0;
  }
  
  .main-header {
    display: flex;
    flex-direction: row-reverse;
  }

  .main-header > * {
    flex: 1 0;
  }

  .mh-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .max-width-400 {
    max-width: 400px;
  }

  .buttons-place {
    display: flex;
  }

  .buttons-place > div {
    /* Style */
    flex: 1 0;
    margin: 0 10px;
  }

  .buttons-place > div:first-child {
    margin-left: 0;
  }

  .buttons-place > div:last-child {
    margin-right: 0;
  }

  .flex {
    display: flex;
  }

  .flex > * {
    /* Style */
    flex: 1 0;
  }
}


 

