/* Applying Adobe Fonts */

@import url("https://use.typekit.net/rbw2kdb.css");

body {
  line-height: 1.5;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-family: "chantal";
  font-weight: 500;
  font-style: normal;
}

.chantal {
  font-family: "chantal";
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "omnes-cyrillic, sans-serif";
  font-weight: 500;
  font-style: normal;
}

.omnes {
  font-family: omnes-cyrillic, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*Sections for screen dividers*/

.blue-sect {
  background-color: #152852;
  color: white;
  margin: 20px 0px 20px 0;
  padding: 20px;
}

.red-sect {
  background-color: #ff756c;
  color: white;
  margin: 0px 0px 20px 0;
  padding: 20px;
}

.orange-sect {
  background-color: #fc9c54;
  color: white;
}

.yellow-sect {
  background-color: #ebcc4e;
  color: white;
}

.red-button {
  background-color: #ff756c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-family: "chantal";
  display: block;
  width: 100%;
  max-width: 250px;
}

.orange-button {
  background-color: #fc9c54;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: x-large;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-family: "chantal";
  display: block;
  width: 100%;
  max-width: 250px;
}

.yellow-button {
  background-color: #ebcc4e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-family: "chantal";
  display: block;
  width: 100%;
  max-width: 250px;
}

.blue-button {
  background-color: #152852;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-family: "chantal";
  display: block;
  width: 100%;
  max-width: 250px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  background-color: #152852;
  width: 100%;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  color: white;
  text-decoration: none;
}

.nav-li {
  display: inline;
  float: left;
  text-align: center;
  align-items: center;
}

.nav-a {
  display: block;
  margin: 10px;
  background-color: #152852;
  color: white;
  text-align: center;
  font-size: medium;
}

.nav-font {
  font-family: "chantal";
  text-align: center;
  color: white;
  text-decoration: none;
}

/* Side by side containers*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 20px;
  padding-left: 10px;
}

/* End Containers*/

.bqstyle {
  font-size: xx-large;
  color: #152852;
  text-align: center;
  padding: 100px 50px 100px 50px;
  display: flex;
}

.story-text {
  font-size: large;
  color: white;
}

.tpad {
  padding: 30px 30px 30px 30px;
}

/* Slideshow CSS */
.slideshow {
  /* what width and height for fullscreen? */
  width: 100vw;
  height: 100vh;
  background: #152852;
  position: relative;
}

/*
  padding
  margin
  transform
  display modes (flex, grid)
  position
*/

.slideshow > div {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.slideshow > div.active {
  opacity: 1;
}

.slideshow > div > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slideshow > button {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 50px;
  margin: auto 0;
}

.slideshow > button#next {
  right: 0;
}

/* Signature Animation */

#signature {
  stroke-dasharray: 2000; /* Moves along path of animation*/
  stroke-dashoffset: 2000;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0; /* Creates animation keyframes*/
  }
}

svg {
  width: 300px;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .tpad {
    padding: 30px 50px 30px 50px;
  }

  .orange-sect {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .yellow-sect {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .orange-sect .text {
    grid-area: 1 / 1 / 2 / 2;
  }

  .orange-sect .image {
    grid-area: 1 / 2 / 2 / 3;
  }

  .yellow-sect .image {
    grid-area: 1 / 1 / 2 / 2;
  }

  .yellow-sect .text {
    grid-area: 1 / 2 / 2 / 3;
  }

  /* Trying to use grids... bear with me */

  .grid {
    display: grid;
    grid-template-columns: 1fr 300px;
  }

  .flex-buttons {
    display: flex;
    justify-content: center;
  }

  .grid-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
